body
{
	background-color: #B72D2D;
}

#header-nav
{
	background-color: #1BA500;
	border: 1px solid #006600;
}

.navbar-brand
{
	padding-top: 15px;
}

.navbar-brand h1 /*Titulo inicial*/
{
font-family: 'Architects Daughter', cursive;
color: white;
font-size: 1.8em;
font-weight: bold;
text-shadow: 1px 1px 1px gray;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus
{
	text-decoration: none;
}
#nav-list
{
	margin-top: 10px;
}
#nav-list a
{
color: white;
text-align: center;
}
#nav-list a:hover
{
	background-color: #71CE59;
}
#nav-list a span
{
	font-size: 1.8em;
	padding-right:5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
	border: 1px solid #B72D2D;
}
#main-content h2
{
	color: white;
	font-family: 'Architects Daughter', cursive;
	font-size: 2.6em;
	margin-top: 100px;
}
#main-content h3
{
 font-family: 'PT Sans', sans-serif;
 color: white;
}

#bunuelo, #romero
{
	background-color: #C75050;
	margin-top: 30px;
	font-family: 'PT Sans', sans-serif;
	color: white;
	margin-top: 20px;
}

#ponche
{
	background-color: #A81D1D;
	margin-top: 30px;
	font-family: 'PT Sans', sans-serif;
	color: white;
	margin-top: 20px;	
}

/*Large devices*/
@media (min-width: 1200px)
{
	
}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1199px)
{
	
}

/*small devices*/
@media (min-width: 768px) and (max-width: 991px)
{
	#main-content div p
	{
		padding:20px;
	}

}

/*Extra small devices*/
@media (max-width: 767px)
{
	/*header*/
	.navbar-brand
	{
		padding-top: 10px;
		height: 80px;
	}
	/*title of the company*/
	.navbar-brand h1
	{
		padding-top: 10px;
		font-size: 8vw;
		/*VW viewport 1vp=1% of viewport view*/
	}

	#main-content div p
	{
		padding:20px;
	}

	#bunuelo, #ponche, #romero
	{
		margin-top: 15px;
	}


 }

  /*Super extra small*/
  @media (max-width: 479px)
  {
  	/*header*/
  	.navbar-brand h1
  	{
  		padding-top: 10px;
  		font-size: 8vw;
  	}
  	
  }